@font-face {
  font-family: 'digital-clock';
  src: url(./assets/digital-7.ttf);
}
@font-face {
  font-family: 'emboss';
  src: url(./assets/TejaratchiRegular.ttf);
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(91, 89, 89);
}

.App {
  display: flex;
  position: relative;
  justify-content: space-around;
  min-width: 75vw;
  margin: 2vw;
  padding: 4vw;
  background-color: tan;
  border-radius: 10px;
  box-shadow: 10px 10px 20px black;
  height: 30vh;
}

.upDownHolder {
  display: flex;
  flex-direction: column;
  width: fit-content;
  padding-left: 1vw;
}

.controlContainer {
  display: flex;
  flex-direction: column;
  background-color: rgb(9, 74, 27);
  width: 25%;
  min-width: 15vw;
  border-radius: 10px;
  border: 3px solid black;
  align-items: center;
  padding: 1%;
}

.tapAndPlayContainer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}

.tempoContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.numberHolder {
  display: flex;
  width: 4vw;
  min-width: 100px;
  margin-right: 1vw;
}

.arrowButton {
  border: none;
  background-color: transparent;
  font-size: 150%;
}

#numberDisplay {
  font-family: 'digital-clock';
  font-size: 4em;
}
.fineOn {
  background-color: black;
  color: rgb(9, 74, 27);
  border: none;
  border-radius: 5px;
}
.fineOff {
  background-color: transparent;
  color: black;
  border: black;
  border-radius: 5px;
}

.metronomeContainer {
  display: flex;
  position: relative;
  width: 50vw;
  background-color: grey;

  background-image: linear-gradient(#000, #000);
  background-size: 2px 100%;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px;
  border: 3px solid black;
}

.theDot {
  position: absolute;
  font-size: 200%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: swing;
  top: 50%;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  margin: 0;
}

#logoHolder {
  position: absolute;
  display: flex;
  bottom: 2%;
  right: 2%;
  align-items: center;
}

.logo {
  font-family: emboss;
  font-size: 1.5vw;
}

@keyframes swing {
  0% {
    left: 50%;
  }
  25% {
    left: 4%;
  }
  75% {
    left: 96%;
  }
  100% {
    left: 50%;
  }
}
